<launch>
    <node pkg="imb"
          name="Sim"
          type="imb"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">
    </node>
    <node pkg="imb"
          name="AStar"
          type="astar"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">
    </node>
    <node pkg="imb"
          name="MCL"
          type="amcl"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">
    </node>
</launch>